<%- layout('layouts/layout.ejs')%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center  mb-3"><i class="fas fa-sign-in-alt text-danger"></i>  Login</h1>
            <a href="/auth/google" class="text-center m-4"><i class="fab fa-5x fa-google-plus text-secondary " ></i></a>
            <% if (error_msg.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error_msg %>                 
                </div>
            <% } %>
            
            <div class="card card-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required/>
                    </div>
                    <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <p class="lead mt-4">
                    No Account? <a href="/singup">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>