<%- layout('layouts/layout.ejs')%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <img src="" :ulr=user.photo alt="">
        <h1><i class="fab fa-node-js fa-3x"></i>Profile</h1>
            <div class="card card-body">
                <h3> <%=user.nameuser %></h3>
                <p><%=user.email %></p>
                <p><%=user.password %></p>
                <p><%=user._id %></p>
            </div>         
        </div>
    </div>
</div>
