<%- layout('layouts/layout.ejs')%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus text-danger"></i> Register </h1>
        <% if (error_msg.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error_msg %>                 
            </div>
        <% } %>
        <form action="/singup" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="nameuser" name="nameuser" class="form-control" placeholder="Enter Name" required/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" required/>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" required/>
            </div>
            <button type="submit" class="btn btn-primary btn-block"> Register </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
</div>